@page
<!-- Projects.cshtml -->
<!-- Add model directive below -->
@model ProjectsModel
@{
    // Add ViewData Title below
    @ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid jumbotron-container text-white project-jumbotron">
    <div class="container-fluid jumbotron-content">
        <p class="text-center mb-4 jumbotron-header">Projects</p>
    </div>
</div>

<div class="container">
    <div class="project-container">
        @foreach (var i_project in @Model.Projects)
        {
            if (@i_project.Year > 2017)
            {
                <h4 class="project-title general-header">
                    <!--  Project Title -->
                    @i_project.Title
                </h4>
                <p class="project-year general-header">
                    <!--  Project Year -->
                    @i_project.Year
                </p>
                <p class="project-description general-content">
                    <!--  Project Description -->
                    @i_project.Description
                </p>
            }
        }
    </div>

    <br>
    <h4 class="general-header">Portfolio</h4>
    <p class="general-content">
        <!-- Render partial for Link below -->
        For more information regarding my projects, please refer to my <partial name="_Links" for="@Model.GithubUsername" />
    </p>
    <br>
</div>
